section {
  width: 100%;
 display: flex;

}
.bindAuthAndTitle {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.bindAuthAndTitle h2 {
  font-size: large;
 
}
.bindAuthAndTitle p {
  font-size: medium;

}
a img{
  height: 150px;
  width: 150px;
}

@media only screen and (min-width: 800px) {
  section {
    width: 80%;
    margin: auto;
    padding: 30px;
    border-bottom: 1px dotted black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 25px;
  }
  .bindAuthAndTitle {
    display: flex;
    flex-direction: column;
    
  }
  .bindAuthAndTitle h2 {
    font-size: x-large;
    text-align: left;
    margin-bottom: 25px;
  }
  .bindAuthAndTitle p {
    font-size: medium;
    text-align: left;
    margin-right: 15px;
    font-size: medium;
  }
  a img{
    height: 150px;
    width: 150px;
  }
.RecGallery {
  width: 80%;
  margin: auto;
}
.RecGallery figure img{
  width: 60%;
  height: 60%;
  margin: 0 auto;
}
.RecGallery p {
  font-size: large;
}
   }
