html {
  background-color: rgb(214, 228, 201);
}
.picture img{
  color: black;
  font-size: larger;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-right: 25px;
}
.foodDetail {
  display: flex;
  
}
figure {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px dotted black;
}
figcaption {
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}
.label {
  text-decoration: underline;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 15px;

}