.contactUsContainer {
padding: 30px;
 /* margin: auto;*/
  background-color: #fff;
  background-image: url("../images/food1.jpg");
  margin-bottom: 50px;
}

.contactFormHolder {
  background-color: #ffffff;
  /* margin: auto;*/
  padding: 25px;
  opacity: 0.85;
  text-align: left;

}

label {
  color: #B90000;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  
 }

 h2 .header2{
  color: #B90000;
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;

}

textarea{
  border: #b90000 solid 1px;
  margin-top: 40px;
  height: 10rem;
  text-align: left;
  width: 100%;
  font-family: "Arial";


}

input {
  height: 40px;
  width: 100%;
  border: none;
  border-bottom:#B90000 solid 1px;
  
 
}

button {
  all: unset;
  margin-top: 10px;
  background-color: #B90000;
  padding: 15px;
  text-transform: uppercase;
  font-size: large;
  margin-bottom: 10px;
  color: #fff;
 
}

@media only screen and (min-width: 700px) {
  .contactUsContainer {width: 60%;
    
  margin: 20px auto 100px auto;
}
label {
  color: #B90000;
  font-size: large;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: bold;

  
 }
  
} 