.footer{
  
    color: #B90000;
    border-top: 1px solid #B90000;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-evenly;
    font-size: 20px; 
   
  }

  
  .footerText{
    color: #B90000;
    font-size: 9px;
    font-style: none;
    vertical-align: middle;
    padding-top: 2px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;   
    
  }

  .footerIcons{
    color: #B90000;
    text-align: center;        
  }
  
  a{
    color: #B90000;
    text-decoration: unset;  

  }
 

  @media only screen and (min-width: 800px) {
    .footer {
      width: 100%;
      margin: 0 auto;
      padding: 30px;
      
      display: flex;
      font-size: 35px; 
    }
    .footer > a{
      color: #B90000;
      justify-content: center;
  margin-right: 30px;
  
    }
  
     }