html {
  background-color: #fff;
}
.GirlRecContainer {

  margin: auto;
  padding: 30px;
  height: auto;
 
}
header {
  
  height: 300px;
  border: 2px solid black;
}



.imgBinder img {
  margin: 15px;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  
  
}

h1 {
  color: black;
  text-align: center;
}

p {
  margin-bottom: 20px;
  color: black;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}



@media only screen and (min-width: 700px) {
  .GirlRecContainer {width: 60%;}
  .imgBinder {
    display: flex;
    justify-content: center;

} }