html {
  background-color: #fff;
}
.GirlRecContainer {

  margin: 0 auto 70px 0;
  height: auto;
  text-align: center;
 
}
header {
  
  height: 300px;
  border: 2px solid black;
}

h1 {
  color: black;
  text-align: center;
}

p {
  margin-bottom: 20px;
  color: black;
  text-align: center;
  border-bottom: 5px solid #b90000 ;
  padding-bottom: 20px;
}
h2 {
  color:white;
  text-align: center;
  background-color: #b90000;
  width: 90%;
  height: auto;
  padding: 10px 10px;
  margin: 20px auto 20px auto;
}



@media only screen and (min-width: 700px) {
  .GirlRecContainer {

    margin: 0 auto 100px auto;
    
    height: auto;
    text-align: center;
    width: 80%;
   
  }
  .bgHeader {
    background-image: url(../images/goodgirlseatlogo.jpg);
    height: 200px;
    background-size: stretch;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
   width: 80%;
  }
  h1 {
    text-align: center;
    vertical-align: center;
    height: 40%;
    background-color: rgba(226, 40, 77, 0.6);
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
 
  }
  .imgBinder {
    display: flex;
    justify-content: center
  }
  .imgBinder img {
    
    border-radius: 15px;
    width: 450px;
    height: 275px;
    margin-right: 10px;
  }
  p {
    font-size: x-large;
    color:  #b90000;
  }
  h2 {
    color:white;
    text-align: center;
    background-color: #b90000;
    width: 80%;
    height: auto;
    padding: 10px 10px;
    margin: 20px auto 20px auto;
  }
 }