* {
  font-family: "Source Sans Pro", sans-serif;
}

.recGalleryContainer {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

/*change the color of h2 font since h2 is the child of recGalleryContainer*/
.recGalleryContainer h2 {
  color: #b90000;
}
.eggBenedictBreakfast {
  background-image: url("../images/eggsbenny.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
}

.lunchSandwich {
  background-image: url("../images/burger2.jpg");
  /* source https://www.pexels.com/photo/bread-burger-cheese-delicious-580612/ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: 0;
}

.dinnerStew {
  background-image: url("../images/lamb.jpg");
  /* source: https://www.pexels.com/photo/close-up-of-meal-served-in-plate-323682/ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: 0;
}

figure {
  /* width: 100%;
  margin: 0 auto; */
  /* padding: 30px; */
  /* border-bottom: 1px dotted black; */
}

/*Start of creating the overlay so for the img, title, and summary so it can be read*/
.overlay {
  background-color: rgba(201, 0, 0, 0.7);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  margin-top: auto;
  padding: 3%;
} /*End of creating the overlay*/

/*Start of the controls of the img, title and summary of the food.*/
img {
  max-width: 300px;
  width: 90%;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  text-align: center;
  width: 90%;
  color: #b90000;
} /*End of the controls of the img, title and summary of the food*/

li {
  color: #b90000;
}
#pHome{
  color: #b90000;
  font-style: italic;
  font-weight: 700
  ;
}
