.recGalleryContainer {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

h2 {
    text-align: center;
}

/*Start of creating the overlay so for the img, title, and summary so it can be read*/
.overlay {
  background-color:rgba(225, 225,225,0.7);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
}/*End of creating the overlay*/

.eggBenedictBreakfast{
  background-image: url("../images/Egg_Benedict_Breakfast.jpg");
  width: 75%;
  background-size: cover;
}

.lunchSandwich{
  background-image: url("../images/Lunch_Sandwich.jpg");
  width: 75%;
  background-size: cover;
}

.dinnerStew{
  background-image: url("../images/Dinner_Stew.jpg");
  width: 75%;
  background-size: cover;
}

/*Start of the controls of the img, title and summary of the food.*/
img {
  max-width: 300px;
  width: 80%;
  padding-top: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
}/*End of the controls of the img, title and summary of the food*/

