.bgHeader {
  background-image: url(../images/salad.jpg);
  height: 150px;
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  vertical-align: center;
  height: 33%;
  background-color: rgba(226, 40, 77, 0.6);
  width: 100%;
  font-size: 2rem;
}
html {
 width: 80%;
 margin: 0 auto;
  height: auto;
}

@media only screen and (min-width: 800px) {
  .bgHeader {
    background-image: url(../images/salad.jpg);
    height: 150px;
    background-size: stretch;
    background-repeat: no-repeat;
    width: 80%;
    display: flex;
    
    margin: auto;
  }
  h1 {
    text-align: center;
    vertical-align: center;
    height: 33%;
    background-color: rgba(226, 40, 77, 0.6);
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
  }

   }