
.bgHeader {
  background-image: url(../images/salad.jpg);
  height: 150px;
  background-size: stretch;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  vertical-align: center;
  height: 33%;
  background-color: rgba(226, 40, 77, 0.6);
  width: 100%;
  font-size: 10vw;
}

body {
  width: 100%;
}

