.topicHeader {
  font-size: large;
  font-weight: bold;
}
.topicP {
  font-size: 16px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
figure{
  text-align: center;
}
figcaption {
  display: flex;  
  justify-content:center;
  
}
h3{
  text-align: center;
  color: #b90000;
  font-weight: 400;
  font-style:italic;
  font-size: medium;
}
.label {
  font-size: 15px;
  margin-bottom: 15px;
  list-style: none;
  color: black;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  margin-bottom: 15px;
  font-size: medium;
  list-style: none;
  color: black;
}

form {
  background-color: rgb(245, 158, 158);
  /* border: #b90000 solid 1px; */
  /* margin-top: 50px; */
  padding-top: 8px;
  text-align: center;
}

p {
  background-color: none;
}

#userInput {
  background-color: rgb(255, 255, 255);
  border: #b90000 solid 1px;
  border-radius: 15px;
  width: 80%;
}

#submit {
  all: unset;
  margin: 20px;
  background-color: #b90000;
  padding: 7px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}
.recipeCard {
  margin-bottom: 70px;
}
.favContainer {
  margin-bottom: 75px;
}
@media only screen and (min-width: 800px) {
  figure {
    width: 80%;
    margin: auto;
    padding: 30px;
    border-bottom: 1px dotted black;
    display: flex;
  }
  .searchForm {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .recipeCard {
    margin-bottom: 200px;
  }
  .favContainer {
    margin-bottom: 200px;
  }
}
