.topicHeader {
  font-size: large;
  font-weight: bold;
}
.topicP {
  font-size: 16px;
}
figure {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  border-bottom: 1px dotted black;
}
figcaption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: medium;
}
.label {
  font-size: 15px;
  margin-bottom: 15px;
  list-style: none;
  color: black;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  margin-bottom: 15px;
  font-size: medium;
  list-style: none;
  color: black;
}

@media only screen and (min-width: 800px) {
  figure {
    width: 80%;
    margin: auto;
    padding: 30px;
    border-bottom: 1px dotted black;
    display: flex;
  }
}
