/* form {
  background-color: rgb(245, 158, 158);
   border: #b90000 solid 1px; 
   margin-top: 50px; 
  padding-top: 8px;
  text-align: center;
}

p {
  background-color: none;
}

#userInput {
  background-color: rgb(255, 255, 255);
  border: #b90000 solid 1px;
  border-radius: 15px;
  width: 80%;
}

#submit {
  all: unset;
  margin: 20px;
  background-color: #b90000;
  padding: 7px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
} */
