/*test*/

form{
    background-color: #fff;
    border: #b90000 solid 1px;
    margin-top: 50px;
    /*text-align: center;*/
}

p{
    background-color: #fff;
}

#userInput {
    background-color: rgb(202, 202, 202);
    border: #B90000 solid 1px;
    border-radius: 15px;
    
}

#submit {
    all: unset;
    margin-top: 25px;
    background-color: #B90000;
    padding: 7px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;

}